body {
    font-family: "Rubik";
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 30px 0;
}


.header {
    text-align: center;
    margin-bottom: 100px;
    h1 {
        font-size: 24px;
        font-weight: 300;
        color: #4A4A4A;
        letter-spacing: 0.48px;
    }
}

.timeline{
    position: relative;
    :before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        border-left: 1px solid #EC6649;
    }
    padding: 15px 6px;
}
.photo {
    position: relative;

    &-title {
        font-size: 14px;
        color: #C4F5E9;
        padding: 5px 16px;
        text-transform: uppercase;

        width: 137px;

        position: absolute;
        top: 50%;
        left: -6px;
        background-image: linear-gradient(270deg, rgba(160,160,160,0.23) 0%, #717171 100%);
    }

    &-pic {
        max-width: 100%;
        box-shadow: 0 12px 24px 0 rgba(0,0,0,0.20);
        border-radius: 2px;

        margin-top: -15px;
        margin-bottom: -15px;
    }
}


.a-slide-left {
    animation: slideleft 0.4s;
}
.a-slide-left {
    animation: slideright 0.4s;
}
.a-zoom {
    animation: zoom 0.4s;
}
@keyframes slideleft{
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideright{
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes zoom{
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}